{% extends "base.html" %}
{% block title %}Add location{% endblock %}
{% block head %}
    <h1 style="text-align:center; " class="title" >Add Location</h1>

    <form action="" method="post" name="locationName" style="text-align:center; font-weight: bold; ">
      
      <button type="button" class="col md 30 button1" style= "margin-right: 0%;"> 
        <a href="/" style=" color: black; font-weight: bold; ">
            Back To Products Home</a></button>
       
<p></p>
      <div class="field">
        <label for="locationName" class="label" >New Location Name</label>
        <div class="control">
          <input type="text" name="locationName" class="input" required="required" id="locationName"/>
        </div>
      </div> 

      
      <p></p>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Add New Location</button>
        </div>
      </div>
    </form>
{% endblock %}